{% extends "web/base.html" %}

{% block content %}
<style>
    .custom-margin-top {
        margin-top: 20px;
    }

    .card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
        margin-bottom: 30px;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .modal-content {
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .modal-dialog {
        max-width: 800px;
    }

    .modal-header {
        background-color: #000;
        color: #fff;
        border-radius: 10px 10px 0 0;
        padding: 15px;
    }

    .modal-body {
        padding: 20px;
        margin: 20px;
        text-align: center;
    }

    .modal-title {
        color: #fff;
        margin: 0;
    }

    .modal-title h5 {
        text-align: center;
    }

    .btn-close {
        color: #007bff; /* Cambiar el color del botón a azul claro */
    }

    .card-title {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: center;
    }

    .card-read-more {
        background-color: #3498db;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 8px 20px;
        font-size: 1.1rem;
        cursor: pointer;
        transition: background-color 0.3s;
        text-align: center;
    }

    .card-read-more:hover {
        background-color: #2980b9;
    }

    .card-img-top {
        height: 200px;
        object-fit: cover;
        border: 2px solid #ddd;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    .modal-img-small {
        border: 2px solid #fff;
        border-radius: 10px;
        margin-bottom: 10px;
        width: 90%;
        max-height: 280px;
    }

    .modal-body p {
        font-size: 1.2rem;
        line-height: 1.6;
    }
</style>

<div class="container">
    <div class="row">
        {% for equipo in equipos %}
        <div class="col-lg-4 col-md-6">
            <div class="card custom-margin-top">
                <div style="overflow: hidden;">
                    <img src="{{ equipo.imagen.url }}" class="card-img-top" alt="{{ equipo.nombre_equipo }} Imagen">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ equipo.nombre_equipo }}</h5>
                    <center><button type="button" class="btn btn-primary card-read-more" data-bs-toggle="modal"
                        data-bs-target="#equipoModal{{ equipo.id }}" data-card-id="{{ equipo.id }}">
                        Más información
                    </button></center>
                </div>
            </div>
        </div>

        <div class="modal fade" id="equipoModal{{ equipo.id }}" tabindex="-1"
            aria-labelledby="equipoModal{{ equipo.id }}Label" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #007bff;"> <!-- Aplicamos el mismo color que el botón -->
                        <h5 class="modal-title" id="equipoModal{{ equipo.id }}Label">{{ equipo.nombre_equipo }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <img src="{{ equipo.imagen.url }}" class="img-fluid modal-img-small" alt="{{ equipo.nombre_equipo }} Imagen">
                        <hr>
                        <p>{{ equipo.info }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div> 
{% endblock %}
